<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>chathome</title>
</head>
<body>
    <h1>Hi <%= userName %>, welcome to room <%= roomName %></h1>
        <button id="createRoomButton">Create room</button>
        <script type="text/javascript">
            document.getElementById('createRoomButton').onclick = function() {
                location.href = '/createRoom';
            };
        </script>
        <form id="createMessageForm" method="POST" action='/message'>
            <input type="text" name="message" placeholder="insertMessage" autocomplete="off">
            <input type="submit" value="submit">
        </form>
        Conversation History 
        <ul id='chatWindow'> 
            <% Messages.forEach(function(message) { %>
             <li>
                <%= message.senderId %>
                <%= message.message %>
                <%= message.createdAt %>
             </li>   
             <% }) %>    
        </ul>
        Participants
        <ul id='participants'>
            <% users.forEach(function(user) { %>
                <li>
                    <%= user.name %>
                </li>   
            <% }) %> 
        </ul>
        Rooms
        <ul id='roomList'> 
            <% rooms.forEach(function(room) { %>
             <li>
                 <a class="roomLink" href="http://localhost:8080/room/<%= room.id %>/">
                    <%= room.name %>
                 </a>
            </li>   
             <% }) %>    
        </ul>
</body>
</html>